@media all and (max-width: 768px) {
/* General*/
h1 {
    font-size: 18px;
}

body {
    font-family: 'Raleway';
    font-size: 14px;
}
.main {
    max-width: 768px;
    min-width: 320px;
    margin-left: 0px;
    margin-right: 0px;
}
/* Header*/
.imagelogo {
    margin-left: 80px;
    }

.menu{
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
}
.liensMenu {
    width: 100%;
}
.lienA {
    width:50%;
    padding-top:15px;
    padding-bottom: 41px;
    border-bottom: 3px solid #F2F2F2;
}
.lienA:hover {
    border-top: none;
    border-bottom: 3px solid #0065FC;
}
/* Marges */
#informations {
    margin-left: 15px;
    margin-right: 15px;
}
#hebergementsPopulaires {
    margin-left: 0px;
    margin-right: 0px;
}

#activiteMarseille {
    margin-left: 0px;
    margin-right: 0px;
}
/* Main */

/* Recherche */

.validationRecherche {
    display: none;
}
.rechercheMobile {
    display: inline;
    color: #FFFFFF;
    padding: 15px 15px 15px 15px;
    color: #F2F2F2;
    border: none;
    border-radius: 0 15px 15px 0;
    background: #0065FC;
    justify-self: center;
    margin-bottom: 20px;
}
.rechercheMobile:hover {
    outline: none;
    background-color: #000000;
    color: #F2F2F2;
}

/* Hebergements */
#hebergementsPopulaires {
    display: flex;
    flex-direction: column-reverse;
}
.cadreGris2 {
    width: 100%;
    border-radius: 0;
    margin-bottom: 30px;
    margin-left: auto;
}
.cadreGris1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background-color: transparent;
}
.ligneCartes {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.colonneCartes {
    width: 90%;
}
.carte1 {
    width: 100%;
}

/* Activites */

.titreactivite {
    padding: 15px;
}
.colonnes {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}
.colonne1 {
    width: 90%;
    height : auto;
    padding: 0 0 0 0;
    margin-bottom: 20px;
    margin-right : 0px;
}
.colonne2 {
    width: 90%;
    height : auto;
    margin-right : 0px;
}
.colonne4 {
    width: 90%;
    height : auto;
}
.imageActivite01 {
    height: 150px;
}
.bloc1 {
    margin: 0px;
    height: auto;
    width: 100%;
}
.bloc2 {
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}
.element1 {
    padding-left : 15px;
}
.element2 {
    padding-left : 15px;
}
.element3 {
    padding-left : 15px;
    padding-bottom: 20px;
}
}
