/* Box sizing */
* {
    box-sizing: border-box;
   /* box-sizing est appliqué à tous les éléments */
}
/* General*/
body {
    font-family: 'Raleway';
    font-size: 15px;
    font-style: normal;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
    font-weight: bold;
}

/* Liens */
a {color:black;
    text-decoration:none}
    a:active {color: #0065fc;}
    a:hover {color: #0065fc;}

/* Marges */

#informations {
    margin-left: 30px;
    margin-right: 30px;
}
#hebergementsPopulaires {
    margin-left: 30px;
    margin-right: 30px;
}

#activiteMarseille {
    margin-left: 30px;
    margin-right: 30px;
}

/* Header*/
.imagelogo {
    height: 120px;
}
.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 120px;
}
.liensMenu {
    list-style-type: none;
    display:flex;
    flex-direction: row;
    text-align: center;
    width: 30%;
}
.lienA {
    width:50%;
    padding-top:51px;
    padding-bottom: 51px;
}
.lienA:hover {
    border-top: 3px solid #0065FC;
}
/* Main */

/* Recherche */

.validationRecherche {
    padding: 15px 15px 15px 15px;
    color: #F2F2F2;
    border: none;
    border-radius: 0 15px 15px 0;
    background: #0065FC;
    justify-self: center;
    margin-bottom: 20px;
}
.validationRecherche:hover {
    outline: none;
    background-color: #000000;
    color: #F2F2F2;
}
input[type="search"] {
    width: 160px;
    padding: 15px 0px 15px 15px;
    border-top: 1px solid #F2F2F2;
    border-right: 1px transparent solid;
    border-bottom: 1px solid #F2F2F2;
    border-left: 1px transparent solid;
    justify-self: center;
    font-weight: 600;
}

input[type="search"]::placeholder {
    color: #000000;
    font-weight: 600;
}

#iconeRecherche{
    padding: 15px 15px 15px 15px;
    border-radius: 15px 0 0 15px;
    background-color: #F2F2F2;
}

.rechercheMobile {
    display: none;
    color: #FFFFFF;
}

/* Filtres */

.titreBoutons{
    padding-right: 20px;
}
   
#filtres{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
#filtresBoutons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
   
.boutons {
    display: flex;
    align-items: center;
    border: 2px solid #dbd8d8;
    border-left: none;
    border-radius: 30px 30px 30px 30px;
    height: 45px;
    width:auto;
    white-space: nowrap;
    margin-right: 20px;
    margin-bottom: 15px;
    padding-right: 20px;
    padding-left: 0px;
    box-sizing: content-box;
    background-color: #FFFFFF;
    font-weight: 600;
} 
#filtresBoutons button:hover {
    background-color: #0065FC;
    color: #FFFFFF;
} 
#filtresBoutons button i {
    display: flex;
    background: #deebff;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    margin-right: 10px;
}
/* Info hebergements */

#logementsDispo {
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
}
  
.cercleIcone {
    border: 2px solid #eeeeee;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 4px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cercleIcone i {
    color: #0065FC;
}
/* Hebergements */
#hebergementsPopulaires {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}
.cadreGris1 {
    display: flex;
    flex-direction: column;
    width: 66%;
    height: 650px;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-right: 1%;
}
.cadreGris2 {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 650px;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-left: 1%;
}
.texteHebergement {
    padding: 15px;
}
.ligneCartes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.imageBloc1 {
    object-fit : cover;
    border-radius: 20px 20px 0 0;
    height: 120px;
    width:100%;
}
.blocInfo1 {
    margin-left: 10px;
    line-height: 10px;
    margin-bottom: 10px;
}

.texteHebergement2 {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px;
}
.colonneCartes {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
}
.imageBloc2 {
    object-fit : cover;
    border-radius: 20px 0 0 20px;
    width: 110px;
    height: 150px;
}
.blocInfo2 {
    margin-left: 10px;
}
.carte1 {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 5px;
    width: 30%;
    margin: 0 0 30px 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.carte2 {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 5px;
    width: 100%;
    margin: 0 0 30px 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.carte1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  }

.carte2:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  }

.carteEtoile1 {
    color: #0065FC;
}
.carteEtoile2 {
    color: #F2F2F2;
}

.tarifs {
    margin-bottom: 40px;
}
/* Activites */
.activiteMarseille {
    display: flex;
    flex-direction: row;
}

.colonnes {
    display: flex;
    flex-direction: row;
    height: 470px;
    margin-bottom: 40px;
}
.colonne1 {
    width: 25%;
    height: 450px;
    margin-right : 20px;

}
.colonne2 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;
    margin-right : 20px;
}
.colonne4 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;
}
.bloc1 {
    background-color: #FFFFFF;
    border-radius: 20px;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: 100%;
}
.bloc1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  }
.imageActivite01 {
    object-fit : cover;
    object-position: top;
    border-radius: 20px 20px 0 0;
    width:100%;
    height: 380px;
}
.bloc2 {
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 20px;
}
.bloc2:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  }
.imageActivite02 {
    object-fit : cover;
    object-position: top;
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 150px;
}

.imageActivite03 {
    object-fit : cover;
    object-position: center;
    border-radius: 20px 20px 0 0;
    width: 100%;
    height : 150px;
}

.sousTitreActivite {
    padding-left : 20px;
    padding-bottom : 10px;
}

/* Footer */

div li{
    list-style: none;
}
footer {
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2; 
    line-height : 1.5; 
}
.element1 {
    padding-left : 30px;
    padding-right: 18%;
}
.element2 {
    padding-right: 18%;
}
ul {
    padding-left: 0px;
}
